*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f8f9fc;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: serif;
    display: flex;
}
.sidebar{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    background-color: #4e73df;
}
.sidebar_navbar_brand{
    text-align: center;
    text-decoration: none;
    margin: 16px 4.5rem 16px 16px;
}
.icon{
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 1.2rem;
    color: white;
    margin-right: 20px;
}
.sidebar_brand_name{
    font-size: 1.6rem;
    color: white;
    font-family:  Helvetica, sans-serif;
    font-weight: bold;
}
.sidebar_divider{
    border: 1px solid rgba(255,255,255,.15);
    margin: 7px;
}
.sidebar_heading{
    font-size: 0.70rem;
    padding:0.5rem 1rem;
    color: #b7b9cc;
    font-weight: bold;
}
.sidebar_list{
    padding: 1.2rem;
    text-align: left;
    list-style: none;
}
.sidebar_list:hover,
.sidebar_list:active{
    font-weight: bold;
    background-color: #3a63dd;

}
.dashboard{
    color: #fff !important;
}
a.sidebar_list_item{
    padding: 0;
}
.sidebar_list_item{
    text-decoration: none;
    font-size: 20px;
    color: #ffffffcc;
    
}
.dropdown{
    /* background-color: #fff; */
    overflow:hidden ;
    float: left;
}
.dropdown_container{
    
    display: none;
    position: absolute;
    background-color: rgb(114, 138, 212);
    z-index: 1;
    border-radius: 10px;
}
.dropdown_container a{
    transition: 0.3s ease;
    text-decoration: none;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
    padding: 10px;
    color: black;
}
.dropdown_container a{
    display: block;
    text-align: left;
    float: none;
    margin: 0 5px;
    padding: 8px 5px;
}
/* .dropdown:hover 
.dropdown_container{
    display: block;
} */
.dropdown:hover 
.dropdown_container{
    display: block;
}
.dropdown_container a:hover{
    background-color: white;
    border-radius: 10px;
}

.main_section{
    width: calc(100% - 300px);
    height: 60px;
    margin-left: 300px;
    position: relative;
    background: #fff;
    padding: 20px 40px;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.05);
}
.main_section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: calc(100% - 300px);
    
}
.searchbar{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.searchbar_togglebtn{
    padding: 10px 20px;
    border-radius: 4px;
    border: 1px solid #d7dbe6;
}

.main_section a{
    list-style: none;
    text-decoration: none;
    position: relative;
    font-size: 18px;
    color: #b7b9cc;
}
.searchbar input{
    border: none;
    outline: none;
    font-size: 14px;
}
.searchbar button{
    border: none;
    font-size:16px;
    background-color: white;
}
.handburgr_menu{
    display: none;
}
/* 
.toggle_button {
    position: relative;
    width: 45px;
    background: transparent;
    border: none;
    cursor: pointer;
    vertical-align: middle;
  }
  .toggle_button_bar {
    width: 80%;
    height: 0.2rem;
    display: none;
    background: #333;
    margin: 8px 0;
  } */

@media(max-width:45rem){
    .main_nav{
        display: none;
        width: 270px;
    }
    .main_section{
        width: 100%;
        margin-left: 0px;
    }
    .handburgr_menu{
        display: inline-block;
    }
    .bars{
        width: 35px;
        height: 3px;
        background-color: black;
        margin: 6px; 
        display: block; 
        position: relative;
        right: 20px;
    }
}
@media(max-width:29rem){
    .searchbar input{
        width: 130px;
    }
    .searchbar_togglebtn{
        padding: 10px 5px;
    }
    .main_section a{
        font-size: 16px;
    }
}
@media(max-width:24rem){
    .main_section{
        padding: 10px 20px;
    }
}


/* @media(max-width:40rem){
    .toggle_button_bar{
        display: block;
    }
  }  */







