*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f8f9fc;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: serif;
}
ul.sidebar{
    position: relative;
    top: 61px;
}
.sidebar{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vh;
    width: 16rem;
    background-color: #4e73df;
}
.sidebar_navbar_brand{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    margin: 16px 6px;
}
.icon{
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 1.2rem;
    color: white;
}
.sidebar_brand_name{
    font-size: 1.6rem;
    color: white;
    font-family:  Helvetica, sans-serif;
    font-weight: bold;
}
.sidebar_divider{
    border: 1px solid rgba(255,255,255,.15);
    margin: 7px;
}
.sidebar_heading{
    font-size: 0.70rem;
    padding:0.5rem 1rem;
    color: #b7b9cc;
    font-weight: bold;
}
.sidebar_list{
    padding: 1.2rem;
    text-align: left;
    list-style: none;
}
.sidebar_list:hover,
.sidebar_list:active{
    font-weight: bold;

}
.dashboard{
    color: #fff !important;
    font-size: 14px;
    text-decoration: none;
}
@media(min-width:64.1rem){
    .dashboard{
        font-size: 18px;
    }
}
a.sidebar_list_item{
    padding: 0;
}
.sidebar_list_item{
    text-decoration: none;
    font-size: 20px;
    color: #ffffffcc;
    
}
.dropdown{
    /* background-color: #fff; */
    overflow:hidden ;
    float: left;
}
.dropdown_container{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    z-index: 1;
    border-radius: 10px;
}
.dropdown_container a{
    text-decoration: none;
    text-align: left;
    font-size: 12px;
    padding: 10px;
    color: black;
}
.dropdown_container a{
    display: block;
    text-align: left;
    float: none;
    margin: 0 5px;
    padding: 8px 5px;
}
.dropdown:hover 
.dropdown_container{
    display: block;
}
.dropdown_container a:hover{
    background-color: white;
    border-radius: 10px;
}
/* header */

@media(max-width:56.5rem){
    .brandName{
        display: none;
    }
}
.brandName{
    color: #4e73df;
    font-size: 2rem;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #fff;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.05);
}
header a{
    list-style: none;
    text-decoration: none;
    position: relative;
    font-size: 18px;
    color: #b7b9cc;

}
header .searchbar{
    position: relative;
    right: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
}
form input{
    border: none;
    outline: none;
    height: 35px;
    width: 100%;
    background-color: #f1f1f1;
    color:#333 ;
    border-radius: 7px 0 0 7px;
    padding: 2px;
}
form button{
    border: none;
    outline: none;
    height: 35px;
    width: 40px;
    color: #333;
    border-radius: 0 7px 7px 0;
}
.toggle_button {
    position: relative;
    width: 45px;
    background: transparent;
    border: none;
    cursor: pointer;
    vertical-align: middle;
  }
  .toggle_button_bar {
    width: 80%;
    height: 0.2rem;
    display: none;
    background: #333;
    margin: 8px 0;
  }
  @media(max-width:40rem){
    .toggle_button_bar{
        display: block;
    }
    header .searchbar{
        width: 30px;
        right: 0;
    }
    form input{
        width: 10rem;
    }
    .main_nav{
        display: none;
    }
  }








