*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f8f9fc;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: serif;
    display: flex;
}
.sidebar{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    background-color: #4e73df;
}
.sidebar_navbar_brand{
    text-align: center;
    text-decoration: none;
    margin: 16px 4.5rem 16px 16px;
}
.icon{
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 1.2rem;
    color: white;
    margin-right: 20px;
}
.sidebar_brand_name{
    font-size: 1.6rem;
    color: white;
    font-family:  Helvetica, sans-serif;
    font-weight: bold;
}
.sidebar_divider{
    border: 1px solid rgba(255,255,255,.15);
    margin: 7px;
}
.sidebar_heading{
    font-size: 0.70rem;
    padding:0.5rem 1rem;
    color: #b7b9cc;
    font-weight: bold;
}
.sidebar_list{
    padding: 1.2rem;
    text-align: left;
    list-style: none;
}
.sidebar_list:hover,
.sidebar_list:active{
    font-weight: bold;
    background-color: #3a63dd;

}
.dashboard{
    color: #fff !important;
}
a.sidebar_list_item{
    padding: 0;
}
.sidebar_list_item{
    text-decoration: none;
    font-size: 20px;
    color: #ffffffcc;
    
}
.dropdown{
    overflow:hidden ;
    float: left;
}
.dropdown_container{
    
    display: none;
    position: absolute;
    background-color: rgb(114, 138, 212);
    z-index: 1;
    border-radius: 10px;
}
.dropdown_container a{
    transition: 0.3s ease;
    text-decoration: none;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
    padding: 10px;
    color: black;
}
.dropdown_container a{
    display: block;
    text-align: left;
    float: none;
    margin: 0 5px;
    padding: 8px 5px;
}
.dropdown:hover 
.dropdown_container{
    display: block;
}
.dropdown_container a:hover{
    background-color: white;
    border-radius: 10px;
}
#interface{
    width: calc(100% - 300px);
    margin-left: 300px;
    position: relative;
}
#interface .navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    background: #fff;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.05);
    padding: 15px 30px;
    /* position: fixed;
    width: calc(100% - 300px); */
}
#interface .navigation .searchbar{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 14px;
    border: 1px solid #d7dbe6;
    border-radius: 4px;
}
#interface .navigation .searchbar button{
    border: none;
    font-size:16px;
    background-color: white;
}
#interface .navigation .searchbar input{
    border: none;
    outline: none;
    font-size: 14px;
}
#interface .navigation .searchbar i{
    margin-right: 14px;
}
#interface .navigation .profile{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
#interface .navigation .profile a{
    text-decoration: none;
    font-size: 19px;
    color: #b7b9cc;
}
#interface .navigation .profile i{
   margin-right: 10px;
}
.n1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
@media(max-width:45rem){
    .main_nav{
        display: none;
        position: fixed;
        width: 270px;
    }
    #interface{
        width: 100%;
        margin-left: 0px;
        display: inline-block;
    }
    #interface .navigation{
        width: 100%;

    }
    .handburgr_menu{
        display: inline-block;
    }
    .bars{
        width: 35px;
        height: 3px;
        background-color: black;
        margin: 6px; 
        display: block; 
        position: relative;
        right: 20px;
    }
}
@media(max-width:31.5rem){
    #interface .navigation .searchbar input{
        font-size: 12px;
    }
}
@media(max-width:26rem){
    .bars{
        width: 27px;
    }
    #interface .navigation .searchbar input{
        font-size: 10px;
    }
    #interface .navigation .profile a{
        font-size: 15px;
    }
}
@media(max-width:22rem){
    #interface .navigation .searchbar{
        padding: 5px 7px;
    }
}
@media(max-width:21rem){
    .username span{
        display: none;
    }
    .username {
        margin-left: 10px;
    }
}

/* heading */
.slogan{
    text-align: center;
    margin-top: 25px;
    font-size: 30px;
}
.slogan h1{
    color: rgb(61, 61, 166);
}
/* table */
table ,tr, td{
    border-bottom: 1px solid rgba(51, 51, 152, 0.485);
    border-collapse: collapse;
}
.board{
    width: 94%;
    margin: 30px;
    overflow: auto;
}
.board .tableHead td{
    background-color: #5159abac;
    color: #fff;
    text-align: center;
    font-family: Verdana, sans-serif;
    font-size: 25px;
    font-weight: bold;
    height: 80px;
}
.tableBody{
 background-color: #c8c9cb7a;
}
.tableBody tr:hover{
    background-color: white;
}
.tableBody tr td{
    height: 60px;
    padding: 15px 30px;
    color: #5159abbd;
    font-weight: 600;
    text-align: center;
    font-family:  Helvetica,sans-serif;
}


